@import "./variables.scss";

.input-group {
  background-color: $white;
  padding: 15px;
  box-shadow: 0 1px 3px 1px $shadow-grey;
  font-size: 0.875rem;
  .icon {
    color: $dark-grey;
  }

  input {
    outline: none;
  }
}

.custom-select {
  box-shadow: 0 1px 3px 1px $shadow-grey;
  font-size: 0.875rem;
  font-weight: 600;
}

.card {
  // width: 269px;
  box-shadow: 0 1px 3px 1px $shadow-grey;
  cursor: pointer;

  .card-header {
    img {
      object-fit: fill;
      min-height: 150px;
      max-height: 150px;
    }
  }

  .card-body :not(.title) {
    font-size: 0.875rem;
  }
}

.shadow-border {
  box-shadow: 0 1px 3px 1px $shadow-grey;
}


@media (min-width: 1024px) {
  .card {
    &:hover {
      transform: scale(1.1);
    }
  }
  .flag-img{
    object-fit: initial;
  }
}
